@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

header {
  padding: 1rem;
  background-color: #181524;
  display: flex;
  justify-content: center;
}

h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.search {
  width: 600px;
  background-color: transparent;
  border: 2px solid #282828;
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
}

body {
  color: #fff;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: #100e19;
}

.movie-card {
  display: block;
  position: relative;
  background-color: #181524;
  border-radius: 4px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.movie-card img {
  height: 500px;
  object-fit: cover;
  max-width: 100%;
}

.movie-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.movie-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.movie-card:hover::before,
.movie-card:hover::after {
  opacity: 1;
}

.card-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.card-information h3 {
  margin: 0;
  width: 80%;
}

.movie-overview {
  background-color: #fff;
  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
  color: #282828;
  padding: 1rem;
  opacity: 0.95;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.4s ease-in-out;
  z-index: 1;
}

.movie-card:hover .movie-overview {
  transform: translateX(0);
}

.colors {
  background-color: #100e19;
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: bold;
}

.colors.green {
  color: green;
}

.colors.orange {
  color: orange;
}

.colors.red {
  color: red;
}

.red {
  color: red;
}
